.menu-container{
    text-align: center;
}

.score-container{
    position: relative;
    display: flex;
}

.score-container a{
    padding-left: 350px;
    margin-top: 20px;
}

.score-container a button{
    padding: 5px;
    background-color: rgba(4, 0, 255, 0.7);
    border-radius: 3px;
    color: white;
    transition: ease-in-out 200ms;
}

.score-container a button:hover{
    background-color: rgba(254, 0, 50, 0.7);
    cursor: pointer;
    padding: 6px;
}

.levels ul li{
    list-style: none;
}
.levels{
    position: relative;
    right: 20px;
}

.levels ul li button{
    padding: 10px;
    background-color: rgba(40, 0, 250, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 6%;
    transition: ease-in-out 200ms;
}

.easy:hover{
    padding: 15px;
    background-color: green;
    cursor: pointer;
}

.intense:hover{
    padding: 15px;
    background-color: rgba(245, 177, 30, 0.8);
    cursor: pointer;
}

.hardcore:hover{
    padding: 15px;
    background-color: rgba(250, 0, 10, 0.8);
    cursor: pointer;
}

.emh:hover{
    padding: 15px;
    background-color: black;
    cursor: pointer;
}

.message{
    position: absolute;
    text-align: center;
    margin-top: 150px;
    margin-left: 190px;
    color: white;
    font-weight: bold;
}

#pnts{
    display: none;
}

.highscore{
    position: absolute;
    display: none;
    top: 100px;
    width: 500px;
    text-align: center;
}

.hs2{
    display: block;
}

.scores{
    position: absolute;
    width: 100px;
    left: 600px;
    text-align: center;
}

.scores table tr th{
    width: 80px;
    padding-right: 40px;
    background-color: rgb(29, 85, 122);
}