<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>p5.js example</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  <!--<script src="../p5.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
  <!--<script src="C:\Users\Tinashe\Documents\GitHub\pongdemo\p5.js"></script-->
  <!-- <script src="../addons/p5.sound.js"></script> -->  

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  {% block scr %}
  
  {% endblock %}
  <!--<script defer src="{{ url_for('static', filename='js/sketch.js') }}"></script>-->
</head>

<body>
  <main>
    
    {% block content %}
    
    {% endblock %}
    
    
      
    
  </main>
</body>

</html>