{% extends 'base.html' %}

{% block scr %}
    <script defer src="{{ url_for('static', filename='js/sketch.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="score-container">
        <h3>Score:<span name="score" id="score">0</span></h3>
        <a href="{{ url_for('home') }}">
            <button>Home</button>
        </a>
    </div>
    <div class="message" id="message"></div>
    <div>
        <form method="post" class="highscore" id="highscore">
            <h4>High Score !!</h4>
            <input type="text" name="name" placeholder="Enter Your Name">
            <input type="text" name="pnts" id="pnts">
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
    <div>
        <ul>
            {% for score in scores %}
                <li>{{ score }}</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}