{% extends 'base.html' %}

{% block content %}
    <div class="menu-container">
        <div class="logo">
            <h1>PONG 2k22!!</h1><small>by Tinashe Madanire</small>
        </div>
        <div class="levels">
            <ul>
                <li>
                    <a href="{{ url_for('level1') }}">
                        <button class="easy">Easy</button>
                    </a>
                </li>
                <br>
                <li>
                    <a href="{{ url_for('level2') }}">
                        <button class="intense">Intense</button>
                    </a>
                </li>
                <br>
                <li>
                    <a href="{{ url_for('level3') }}">
                        <button class="hardcore">Hardcore</button>
                    </a>
                </li>
                <br>
                <li>
                    <a href="{{ url_for('level4') }}">
                        <button class="emh">Even More Hardcore</button>
                    </a>
                </li>
            </ul>
        </div>

        <div class="contact-details">
            <h4>Contact</h4>
            <div>
                <ul>
                    <li><p><b>Email</b>: madtinashe@gmail.com</p></li><br>
                    <li><p><b>LinkedIn</b>:lkfsfa</p></li><br>
                    <li><p><b>GitHub</b>: <a href="https://github.com/Tinashe984life">github.com/Tinashe984life</a></p></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

